<div class="bg-gray-100">

  <h1 class="text-3xl py-8 font-semibold text-center text-gray-800 capitalize lg:text-4xl dark:text-white drop-shadow-2xl">Showrooms</h1>

  <div class="container px-6 py-3 mx-auto">
    <div class="relative flex flex-col-reverse py-3 lg:py-0 lg:flex-col border border-grey-900 rounded shadow-lg mb-6">
      <div class="w-full max-w-xl px-4 mx-auto md:px-0 lg:px-8 lg:py-2 lg:max-w-screen-xl">
        <div class="lg:max-w-lg text-left py-4">
          <h1 class="font-sans font-bold text-gray-900 text-left">
            Showroom Struga
          </h1>
          <h5 class="text-gray-700">
            Adress: Ul Zufer Music 14
          </h5>
          <h6>Telephon number: 055-55454-55555</h6>
          <h4>TMobile number: 055-55454-55555</h4>
          <h5>Email: showroom1@gmail.com</h5>
        </div>
        <div>
          <iframe width="50%" height="100%" class="inset-0" frameborder="0" title="map" marginheight="0" marginwidth="0" scrolling="no" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d387190.2799020023!2d-74.25987151233467!3d40.69767006580528!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2sNew%20York%2C%20NY%2C%20USA!5e0!3m2!1sen!2smk!4v1641909992951!5m2!1sen!2smk"  style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
      </div>
      <div class="inset-y-0 top-0 right-0 w-full max-w-xl px-4 mx-auto mb-6 md:px-0 lg:pl-8 lg:pr-0 lg:mb-0 lg:mx-0 lg:w-1/2 lg:max-w-full lg:absolute xl:px-0">
        <img
          class="object-cover w-full h-56 rounded shadow-lg md:h-96 lg:h-full"
          src="http://www.mebel-lacka.com/img/struga.jpg"
          alt=""
        />
      </div>
    </div>
  </div>
</div>

